$fontSize:          16px;
$fontStack:         Helvetica, sans-serif;
%row_style {
        min-height: 1rem;
        overflow: hidden;
        margin-bottom: 2rem;
}
%col_style {
    background: #FFF;
    border-radius: 0.3rem;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    padding: 1.875rem 1.5rem;
}

body {
    font-size: $fontSize;
    font-family: $fontStack;
    color: #000;
}

.form-creator {
    width:100%;
    position: relative;
    min-height: 20rem;
    * {
        box-sizing:border-box;
    }
    .workspace{
	margin-left: 390px;        
    }
    .siderbar{
        position: absolute;
        width: 390px;
        left: -1.5rem;
        bottom: -1.875rem;
        top: -1.875rem;
        padding: 9px 5px;
        z-index: 10;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        transition: all 500ms ease;
        border-right: 1px solid #ccc;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    }
}

.panel {
        @extend %row_style;
        @extend %col_style;
        width:82%;
        margin:auto;
}
