<h5>布局</h5>
<hr>
<div id="fart-layout-box" class="fart-control">
    <div class="fart-drag unpadding" data-name="layout-50">
        <div class="row">
            <div class="input-layout fart-value-half col-6">50%</div>
            <div class="input-layout fart-value-half col-6">50%</div>
        </div>
    </div>
</div>
<h5>控件</h5>
<hr>
<div id="fart-control-box" class="fart-control layout-area">
    <div class="icon-header fart-drag" label="Header" data-name="header" ><span>标题</span></div>
    <div class="icon-paragraph fart-drag" label="Paragraph" data-name="paragraph" ><span>文字</span></div>
    <div class="icon-text-input fart-drag" label="Text Field" data-name="input" ><span>短文本</span></div>
    <div class="icon-text-area fart-drag" label="Text Area" data-name="textarea" ><span>长文本</span></div>
    <div class="icon-number fart-drag" label="Number" data-name="number" ><span>数字</span></div>
    <div class="icon-calendar fart-drag" label="Date Field" data-name="date" ><span>日期选择</span></div>
    <div class="icon-file-input fart-drag" label="File Upload" data-name="file" ><span>文件上传</span></div>
    <div class="icon-button-input fart-drag" label="Button" data-name="button" ><span>按钮</span></div>
</div>